body {
    font-family: monospace, sans-serif;
}

.app {
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .timer {
        text-align: center;
        width: 250px;
        padding: 15px;
        color: floralwhite;
        background-color: rgb(70, 0, 0);
        border-radius: 8px;
    }
    .buttons {
        text-align: center;
        width: 350px;
        padding: 15px;
        background: rgb(173, 173, 173);
        border-radius: 0px 0px 8px 8px;
    }
}